{% extends "base.twig" %}

{# Ce modèle TWIG étend le modèle 'base.twig' : il contient tous les éléments fixes
et un bloc main dont le contenu est spécialisé pour afficher un livre #}

{% block main %}

{% for animal in all_animals %}
	<div class="card">
		<h2>{{ animal.name }}</h2>
		{# main presentation #}
		<div class="card-main_presentation">
			{# left part -> PHOTO #}
			{% if animal.photo %}
			<div class="card-photo">
				<img src="{{ animal.photo }}" alt="{{ animal.name }}" width="320">
			</div>
			{% endif %}
			{# right part -> card informations #}
			<ul class="card-informations">
				{# HABITAT #}
				{% if animal.habitat %}
					<li><span>Habitat : </span>{{ animal.habitat }} m</li>
				{% endif %}
				
				{# DESCRIPRION #}
				{% if animal.description %}
					<li><span>Descritpion : </span><p>{{ animal.description }}</p></li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endfor %}


{% endblock main %}
