{% extends "categorie.twig" %}


{% block title %}
	{{ title_page }}
{% endblock %}


{# BLOCK ASIDE #}
{% block aside %}

<aside>
	<div class="fixed_aside">
		<h3>Liste des cols&nbsp;:</h3>
		<div class="fixed_aside_list">
			<ul class="sous-menu_categorie">
				{% for col in all_cols %}
					<li><a href="#{{ col.id }}">{{ col.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</aside>

{% endblock aside %}



{# BLOCK CHILD_MAIN #}
{% block child_main %}

<div class="child_main">
	{% for col in all_cols %}
		<div class="card" id="{{ col.id }}" data-aos="zoom-in-down" data-aos-duration="800" data-aos-anchor-placement="top-bottom">
			<h2>{{ col.name }}</h2>
			{# main presentation #}
			<div class="card-main_presentation">
				{# left part -> PHOTO #}
				{% if col.photos %}
					<div class="card-photo-wrapper {% if col.photos|length == 1 %}single-image{% endif %}">
						{% for photo in col.photos %}
							<div class="card-photo">
								<img class="clickable_image" onclick="showImage(this)" src="{{ photo }}" alt="{{ col.name }}" width="320">
							</div>
						{% endfor %}
					</div>
				{% endif %}
				{# right part -> card informations #}
				<div class="container_effect">
					<div class="card-informations card-informations_effect">
						<h3>Détails</h3>
						<ul class="card-informations-details">
							{# ALTITUDE #}
							{% if col.altitude %}
								<li><span>Altitude : </span>{{ col.altitude }} m</li>
							{% endif %}
							
							{# COUNTRY #}
							{% if col.country %}
								<li><span>Pays : </span>{{ col.country }}</li>
							{% endif %}

							{# SECTION TMB #}
							{% if col.section_TMB is defined %}
								<li>
									<span>Section TMB :</span>
									<ul>
										<li><span>Étape : </span>{{ col.section_TMB.step }}</li>
										<li><span>Jour : </span>{{ col.section_TMB.day }}</li>
										<li><span>Distance : </span>{{ col.section_TMB.distance_km }} km</li>

										{# plantes visibles #}
										{% if col.section_TMB.plants_around is defined and col.section_TMB.plants_around|length > 0 %}
											<li>
												<span>Plantes visibles :</span>
												<ul>
													{% for plante in col.section_TMB.plants_around %}
														<li>{{ plante }}</li>
													{% endfor %}
												</ul>
											</li>
										{% endif %}
									</ul>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
			{# MAP #}
			{% if col.map %}
				<div class="card-map">
					<iframe src="{{ col.map }}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
				</div>
			{% endif %}
		</div>
	{% endfor %}
</div>

{# DISPLAY BIG PHOTO ON CLICK #}
<div class="overlay" onclick="hideImage()" hidden></div>
<div class="image-overlay" hidden></div> 

{% endblock child_main %}


{% block javascript %}
	<script src="./js/clickable_image.js"></script>
	<script src="./js/aside.js"></script>
	<script src="./js/card_effect.js"></script>
{% endblock %}