{% extends "base.twig" %}


{% block title %}
	{{ title_page }}
{% endblock %}

{% block ccs_page %}
	<link rel="stylesheet" href="css/contact.css">
{% endblock %}


{% block main %}

    <section class="main">
        <h2>{{ titre }}</h2>
        <p class="text_contact">{{ texte }}</p>

        <div class="form_area" data-aos="zoom-in-down" data-aos-duration="800" data-aos-anchor-placement="top-bottom">
            {# SHOW DATA FORM #}
            {% if data_form %}
            <div class="form_data">
                <h3>Affichage des données du formulaire :</h3>
                {% if image_info %}
                    <img src="{{ image_info.file_path }}" alt="{{ image_info.file_name }}">
                {% endif %}
                <div class="form_data_lines">
                    {% for key, value in data_form %}
                        {% if value and key != 'submit' %}
                            <p><span>{{ key }} : </span>{{ value }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                {# DISPLAY MESSAGES FORM #}
                {% if messages %}
                    <ul class="form_data_messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>


            {% else %}
            {# FORMULAIRE #}
            <div> 
                <h3>Formulaire :</h3>
                <form method="post" action="./contact.php" enctype="multipart/form-data">
                    {# FIRSTNAME / NAME #}
                    <div class="form_2_col">
                        <div>
                            <input type="text" id="firstname" name="firstname" placeholder="Votre prénom" required>
                            <label for="firstname">Prénom :</label>
                        </div>
                        <div>
                            <input type="text" id="name" name="name" placeholder="Votre nom" required>
                            <label for="name">Nom :</label>
                        </div>
                    </div>
                    {# MAIL #}
                    <div>
                        <input type="email" id="mail" name="mail" placeholder="Votre email" required>
                        <label for="mail">Mail :</label>
                    </div>
                    {# MESSAGE #}
                    <div>
                        <textarea id="description" name="description" rows="5" cols="33" placeholder="Votre message" required></textarea>
                        <label for="description">Message :</label>
                    </div>
                    {# PHOTO #}
                    <div>
                        <label for="photo" class="floated_yet">Choisir une photo :</label>
                        <input type="file" id="photo" name="photo" accept="image/*">
                    </div>
                    {# BTN #}
                    <div class="form_btn">
                        <input type="submit" name="submit" class="primary_btn" value="Envoyer le formulaire">
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </section>

{% endblock main %}